/* AddClaimForm.css */

.add-claim-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px; 
  }
  
  .add-claim-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-claim-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .add-claim-form input[type="text"],
  .add-claim-form textarea,
  .add-claim-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-claim-form input[type="checkbox"] {
    margin-left: 5px;
  }
  
  /* AddClaimForm.css */

.add-claim-form button[type="submit"] {
    background-color: #025054;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right; /* Alignement à droite */
  }
  
  .add-claim-form button[type="submit"]:hover {
    background-color: #003d45; /* Modification de la couleur au survol */
  }

  